p {
	color: navy;
}
.info{
	background-color: #dfdfdf;
	font-size: small;
}


p.info {
	font-size: 10pt;
}

h1 {
	
	color: white;
    text-shadow: navy 1px 0 10px;
}

h2 {
	border: solid 1px white;
	padding: 5px;
	font-family: cursive;
	color: #3f3faf;
	background:linear-gradient(to left, white) ;
}


div#zentai {
	display: grid;
	grid-auto-rows: 200px;
	grid-gap: 10px;
	flex-direction: row;
	width: 1024px;
	grid-template-columns: 1fr 1fr;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
img {
 float:right;
}
